@page "/contact/create"
@inject HttpClient http
@inject NavigationManager uriHelper

<h3>Crear un nuevo contacto</h3>

<Form ButtonText="Crear contracto" Contact="@contact"
            OnValidSubmit="@CreateContact1" />

@code {
    Contact contact = new Contact
    {
        IdContact = Guid.NewGuid()
    };

    async Task CreateContact1()
    {
        await http.PostAsJsonAsync("api/contact", contact);
        uriHelper.NavigateTo("contacts");
    }
}
